:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/

.list-item{
  list-style: none;
  border: 1px solid grey;
  border-radius:10px;
}

.delete-button{
  width: 100%;
  border: 3px solid #e82c5e;
  background-color:#242424;
  color: rgba(255, 255, 255, 0.87);
}
.edit-button{
  width: 100%;
  border: 3px solid #46d488;
  background-color:#242424;
  color: rgba(255, 255, 255, 0.87);
}

.td-title{
  text-align:left;
  padding-left: 15%;
  font-size:x-large;
}

.td-description{
  width: 90%;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

.td-checkbox{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.form-table{
  width: 100%;
}

textarea {
  color: rgba(255, 255, 255, 0.87);
  resize: vertical;
  height: 100px;
  width: 80%;
  font-size: large;
  padding: 10px;
  background-color:#242424;
  box-sizing: border-box;
  border: 3px solid #bb86fc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius:10px;
}

.input-title{
  color: rgba(255, 255, 255, 0.87);
  width: 80%;
  font-size: large;
  padding: 10px;
  background-color:#242424;
  box-sizing: border-box;
  border: 3px solid #bb86fc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius:10px;
}

.input-title:focus {
  border: 3px solid #662bad;
}
textarea:focus {
  border: 3px solid #662bad;
}

.add-button{
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  border: 3px solid #e82ccf;
  border-radius:10px;
  width: 100px;
  height: 30px;
}